# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/

# Environment variables
.env

# SQLite DB
db.sqlite3

# Media files
media/

# Static files
staticfiles/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db